/*.btn-success {
background-color: #1ab394;
border-color: #1ab394;
color: #FFFFFF;
}


.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
background-color: #18a689;
border-color: #18a689;
color: #FFFFFF;


}*/

.maxW96 {
    max-height: 100%;
    max-width: 96px;
}
.mT5{
   margin-top: 5%;
}

.mB5{
   margin-bottom: 5%;
}

.ty10{
  transform: translateY(-10px);
}


@media (max-width:768px){
  .container-1{width:100%;}
  .container-2{width:100%;}
}
.container-1:after,
.container-2:before,
{
  display: table;
  content: " ";
}
.container-1:after,
.container-2:after,
{clear: both;}

.container-1{display: none;}
/*navbar-right=====START==========*/

.social-icon{margin:0px;padding:0px;}
.social-icon li {margin: 0px;padding: 0px;list-style-type: none;}
.social-icon li a {
  display: block;
  padding: 15px 14px;
  text-decoration:none;
}
.social-icon li a:focus{
  color:#fff;
  text-decoration:none;
}

.messages-link{
  color: #fff !important;
  background: #16a085 !important;

}

.alerts-link{
  color: #fff !important;
  background: #f39c12 !important;

}

.tasks-link{
  color: #fff !important;
  background: #2980b9 !important;

}

.user-link{
  color: #fff !important;
  background: #E74C3C !important;

}
.number {
  position: absolute;
  bottom: 25px;
  left: 3px;
  width: 20px;
  height: 20px;
  padding-right: 1px;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  line-height: 20px;
  background-color: #2c3e50;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -105px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/*navbar-right=======END========*/

/*sidebar-toggle=============*/
.sidebar-toggle:hover, .sidebar-toggle:focus {
  color: #fff;
  text-decoration: underline;
}


/*sidr-NAVBAR=======START========*/
.navbar-nav-1{width: 100%;background-color:#34495E;height:auto;overflow: hidden;z-index: 1020;position: relative;}

.side-user {
  display: block;
  width: 100%;
  padding: 15px;
  border-top: none !important;
  border-bottom: 1px solid #142638;
  text-align: center;
}
.close-btn {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 31px;
  top: 0px;
  left: 223px;
  display: none;
  padding: 0px;
  cursor: pointer;
}
.close-btn .fa-window-close{color:#fff;font-size: 25px;}
.welcome {
  margin: 0;
  font-style: italic;
  color: #9aa4af;
}

.name {
  margin: 0;
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ccd1d7;
}
.side-user a{
  color:#fff;
}
.nav-search{border-top: 1px solid #54677a;}
.nav-search .form-control{border: 1px solid #000;border-radius: 0px;}
.nav-search .btn{border: 1px solid #000;border-radius: 0px;}

.dashboard>a{
  color:#fff;
}
.side-nav li {
  border-top: 1px solid #54677a;
  border-bottom: 1px solid #142638;
}

.side-nav>li>a:active {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  outline: none;
  color: #fff;
  background-color: #34495e;
}

.panel {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  /*background-color: transparent;*/
  box-shadow: none;
}

.panel>a{
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #fff;
}

.panel>ul>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: darkcyan;
  background: black;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #3d566e;
}
/*sidr-NAVBAR=======END========*/
@media (min-width: 768px){

  #page-wrapper {

    padding: 0 30px;
    min-height: 1500px;
    border-left: 1px solid #2c3e50;
  }
}

#page-wrapper {
  padding: 0 15px;
  border: none;

}




@media (min-width: 768px){
  .circle-tile {
    margin-bottom: 30px;
  }
}

.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}

.circle-tile-heading {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto -40px;
  border: 3px solid rgba(255,255,255,0.3);
  border-radius: 100%;
  color: #fff;
  transition: all ease-in-out .3s;
}

/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

.dark-blue {
  background-color: #34495e;
}

.green {
  background-color: #16a085;
}

.blue {
  background-color: #2980b9;
}

.orange {
  background-color: #f39c12;
}

.red {
  background-color: #e74c3c;
}

.purple {
  background-color: #8e44ad;
}

.dark-gray {
  background-color: #7f8c8d;
}

.gray {
  background-color: #95a5a6;
}

.light-gray {
  background-color: #bdc3c7;
}

.yellow {
  background-color: #f1c40f;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
  color: #34495e;
}

.text-green {
  color: #16a085;
}

.text-blue {
  color: #2980b9;
}

.text-orange {
  color: #f39c12;
}

.text-red {
  color: #e74c3c;
}

.text-purple {
  color: #8e44ad;
}

.text-faded {
  color: rgba(255,255,255,0.7);
}



.circle-tile-heading .fa {
  line-height: 80px;
}

.circle-tile-content {
  padding-top: 50px;
}
.circle-tile-description {
  text-transform: uppercase;
}

.text-faded {
  color: rgba(255,255,255,0.7);
}

.circle-tile-number {
  padding: 5px 0 15px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}

.circle-tile-footer {
  display: block;
  padding: 5px;
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.1);
  transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.2);
}



.time-widget {
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 1.75em;
}

.time-widget-heading {
  text-transform: uppercase;
  font-size: .5em;
  font-weight: 400;
  color: #fff;
}
#datetime{color:#fff;}
.tile-img {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}

.tile {
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
  color: #fff;
}



.mw200{
  max-width: 200px;
}

.mw300{
  max-width: 300px;
}

.mw400{
  max-width: 400px;
}
.abertos{
  background-color:rgba(175, 169, 255, 0.47);
}
.concluidos{
  background-color: rgba(231, 255, 97, 0.47);
}
.lightgreen{

  background-color: rgba(144, 238, 144, 0.68);
}

.bisque{
  background-color: bisque;
}

.right{
  float: right;
}

.right tbody tr td{
  text-align: right;
}
.ctr{
  text-align: center;
}
.rgt{
  text-align: right;
}
.lft{
  text-align: left;
}
.right h4{
  float: right;
}
.btn-cli{

}

.dasht{
  float: left;
  padding: 0;
}

.dashp{
  font-size: 1.3em;
  font-weight: bold;
  text-align: right;
  float: right;
}

.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: inherit !important;
}

.form-group div{
  margin-top: 10px!important;
}

.form-register{
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;

}
.form-register2{

  margin-bottom: 15px;

}



.label-primary, .badge-primary {
  background-color: #006680 !important;
  color: #FFFFFF;
}
.btn-success{
  background-color: #006680 !important;
  border: 1px solid #006680 !important;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success{
  background-color: #1489a7 !important;
  border: 1px solid #1489a7 !important;
}

.btn-primary{
  background-color: #4577b3 !important;
  border: 1px solid #4476b2 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
  background-color: #2a7ee4 !important;
  border: 1px solid #2a7ee4 !important;
}
.form-control{
  border: 1px solid #4577b3 !important;
}
.form-control:hover{
  border: 1px solid #2a7ee4 !important;
}
.form-focus{
  border-color: #006680 !important;
}
.m0auto{
  margin: 0 auto;
  margin-bottom: 5%;
}

.btn-default {
  background-color: #ffffff;
  border-color: #c2c2c2;
  color: #66827c;
}

.btn-default:hover {
  background-color: #a0a0a0;
  border-color: #bababa;
  color: #FFFFFF;
}

.toast-success {
  background-color: #1c84c6;
}

.img-sideBar{
  /*max-width: 166px;*/
  max-width: 132px;
  transform: translateX(-7px);
}

.profile-element{
  text-align: center;
}
.bk{
  color: #006680;
}

.nav-header {
  padding: 33px 25px;
  background: url(patterns/header-profile-skin-1.png) no-repeat;
  over
}

.nav-header .text-muted {
  color: #006680;
}


.form-control:focus, .single-line:focus {
  border-color: #1c84c6;
}

.formTop{
  margin-top: 21px;
}

.hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}
.btn-sec {
  float: right;
  width: 89px;
  margin-right: 15px;
  margin-top: 18px;
}
.avatar-sidebar{
  margin-top: 4px;
  width: 38px;
  height: 38px;
  float: left;
  border-radius: 50%;
}

.minH80{
  min-height: 80px;
}

.twhite{
  color: white !important;
}

.mt5{
  margin-top: 5%;
}
.mt3{
  margin-top: 3%;
}
.mt1{
  margin-top: 1%;
}
.breadcrumb{
  background-color: transparent;
}
.dropLeft{
  left: 0px !important;
}

/*table {
border-collapse: collapse;
}

td {
position: relative;
padding: 5px 10px;
}

tr.strikeout td:before{
content: " ";
position: absolute;
top: 50%;
left: 0;
border-bottom: 1px solid rgb(204, 204, 204);
width: 100%;

}*/

.sim{
  text-decoration: line-through;

}
