/*.btn-success {
background-color: #1ab394;
border-color: #1ab394;
color: #FFFFFF;
}


.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
background-color: #18a689;
border-color: #18a689;
color: #FFFFFF;


}*/


.abertos{
  background-color:rgba(175, 169, 255, 0.47);
}
.concluidos{
  background-color: rgba(231, 255, 97, 0.47);
}
.lightgreen{

  background-color: rgba(144, 238, 144, 0.68);
}

.bisque{
  background-color: bisque;
}

.right{
  float: right;
}

.right tbody tr td{
  text-align: right;
}
.ctr{
  text-align: center;
}
.rgt{
  text-align: right;
}
.lft{
  text-align: left;
}
.right h4{
  float: right;
}
.btn-cli{

}

.dasht{
  float: left;
  padding: 0;
}

.dashp{
  font-size: 1.3em;
  font-weight: bold;
  text-align: right;
  float: right;
}

.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: inherit !important;
}

.form-group div{
  margin-top: 10px!important;
}

.form-register{
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;

}
.form-register2{

  margin-bottom: 15px;

}



.label-primary, .badge-primary {
  background-color: #006680 !important;
  color: #FFFFFF;
}
.btn-success{
  background-color: #006680 !important;
  border: 1px solid #006680 !important;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success{
  background-color: #1489a7 !important;
  border: 1px solid #1489a7 !important;
}

.btn-primary{
  background-color: #006680 !important;
  border: 1px solid #006680 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
  background-color: #1489a7 !important;
  border: 1px solid #1489a7 !important;
}
.form-control{
  border: 1px solid #006680 !important;
}
.form-control:hover{
  border: 1px solid #1489a7 !important;
}
.form-focus{
  border-color: #006680 !important;
}
.m0auto{
  margin: 0 auto;
  margin-bottom: 5%;
}

.btn-default {
  background-color: #ffffff;
  border-color: #c2c2c2;
  color: #66827c;
}

.btn-default:hover {
  background-color: #a0a0a0;
  border-color: #bababa;
  color: #FFFFFF;
}

.toast-success {
  background-color: #1c84c6;
}

.img-sideBar{
  /*max-width: 166px;*/
  max-width: 132px;
  transform: translateX(-7px);
}

.profile-element{
  text-align: center;
}
.bk{
  color: #006680;
}

.nav-header {
  padding: 33px 25px;
  background: url(patterns/header-profile-skin-1.png) no-repeat;
}

.nav-header .text-muted {
  color: #006680;
}


.form-control:focus, .single-line:focus {
  border-color: #1c84c6;
}

.formTop{
  margin-top: 21px;
}

.mTop10{
  margin-top: 10px !important;
}

.hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}
.btn-sec {
  float: right;
  width: 89px;
  margin-right: 15px;
  margin-top: 18px;
}
.avatar-sidebar{
  margin-top: 4px;
  width: 38px;
  height: 38px;
  float: left;
  border-radius: 50%;
}

.minH80{
  min-height: 150px !important;
}

.twhite{
  color: white !important;
}

.dropLeft{
  left: 105px !important;
}
